<div class="item active carouselSection__carouselBlock__carouselItem">
  <h1 class="carouselSection__carouselBlock__carouselItem__text"><%= text %> </h1>
  <span class="carouselSection__carouselBlock__carouselItem__description"><%= source %></span>
</div>

