<div class="greySectionWrapper">
  <div class="col-md-4 col-sm-12  optionsSection__options__option">
    <%= image %>
    <h4 class="optionsSection__options__option__title">
      <%= title %>
    </h4>
    <span class="optionsSection__options__option__description">
      <%= description %>
    </span>
  </div>
</div>
