<div class="optionsSection _container">
  <h1 class="optionsSection__title"><%= title %></h1>
  <div class="optionsSection__options">
    <% icon_cards.each do |card| %>
      <%= card %>
    <% end %>
  </div>
</div>
