<script>
  function addActiveClass(element) {
    document.getElementsByClassName("customer-card active")[0].classList.remove("active");
    element.classList.add("active");
  }
</script>

<section class="video_testimonials">
  <div class="heading">
    Our valued customers share their experience with Rentometer
  </div>
  <div class="window">
    <div class="customers">
      <ul>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michael Ketchen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card active" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michael Ketchen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michael Ketchen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michael Ketchen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michael Ketchen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michael Ketchen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michael Ketchen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michael Ketchen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michael Ketchen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="gutter"></div>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9rDK2rbm6DI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>
