<script>
  function addActiveClass(element) {
    let customerCards = document.getElementsByClassName("customer-card");
    let customerVideos = document.getElementsByClassName("video");
    let selectedIndex = null;

    for (let i=0; i < customerCards.length; i++) {
      if (element.innerText == customerCards[i].innerText) {
        selectedIndex = i;
      }
    }

    for (let i = 0; i < customerCards.length; i++) {
      if (customerCards[i].classList.contains("active")) {
        customerCards[i].classList.remove("active");
        element.classList.add("active");
        customerVideos[i].classList.remove("video-active");
        customerVideos[i].classList.add("video-inactive");
        customerVideos[selectedIndex].classList.remove("video-inactive");
        customerVideos[selectedIndex].classList.add("video-active");
      }
    }
  }
</script>

<section class="video_testimonials">
  <div class="heading">
    Our valued customers share their experience with Rentometer
  </div>
  <div class="window">
    <div class="customers">
      <ul>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michael Ketchen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card active" onclick="addActiveClass(this)">
            <div class="customer-name">
              Sam Boynton
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Michelle Hephardt
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Geoff Mintzel
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Georgina Leffschrader
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Bob Rechnel
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Jimothee Horthock
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Habithinia Iseenben
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
        <li>
          <div class="customer-card" onclick="addActiveClass(this)">
            <div class="customer-name">
              Frederick Jon Haasebergen
            </div>
            <div class="customer-role">
              Commonwealth Collective LLC
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="gutter"></div>
    <div class="videos">
      <div class="video video-inactive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ixn0z3iGBi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="video video-active">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RoFz9V_BEG4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="video video-inactive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hSk_fgAAjjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="video video-inactive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/U2IEwUFCKzg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="video video-inactive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9bQzbduuGlQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="video video-inactive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LWMED_3Nvig" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="video video-inactive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LCAMvnCx2X8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="video video-inactive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kfxm1I7L07I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="video video-inactive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/b_gJVJvOA3Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
