.blog-article-shelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-article-preview-card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em;
  font-family: Helvetica, sans-serif;

  .image {
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .content {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    .category-and-date {
      margin-top: 1.3em;
      font-size: .7em;

      .category {
        font-weight: 500;
        font-family: Roboto, sans-serif;
        color: #196FAF;
        margin-right: 2.5em;
      }

      .publish-date {
        font-weight: 400;
        color: #717780;
      }
    }

    .title {
      margin-top: .8em;

      h2 {
      }
    }

    .blurb {
      margin-top: .8em;
    }
  }
}
